/* Remove Browser-default margin and padding */
*
{
    margin: 0;
    padding: 0;
}

/* Center the only link on the page */
a
{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 50%;
    font-size: 14pt;
}
